<div class="container">
  <!-- <div *ngIf="user">
  <h1>Bienvenue, {{ user.firstName }}</h1>
  <span>Commencez à suivre vos repas et vos calories <a routerLink="/tableau-de-bord">dès maintenant!</a></span>

  <div class="premium-card">
    <div class="card-content">
      <span><a class="premium" routerLink="">Acheter Premium 👑</a></span>
    </div>
  </div>
</div> -->

<div class="row mt-2">
  <div class="col-6 d-flex align-items-center">
    <p class="welcome-text">Bienvenue sur <span class="brand">Foodalytics</span>, votre application web ultime pour suivre et analyser votre alimentation de manière simple et efficace ! Avec Foodalytics, vous pouvez prendre le contrôle total de votre régime alimentaire en suivant précisément vos apports nutritionnels et en analysant votre consommation sur une période donnée. Découvrez comment cette application révolutionnaire peut vous aider à atteindre vos objectifs santé et bien-être.
  </p>
      </div>
      <div class="col-6">
        <img [src]="getRandomImageUrl()" class="foodImg" alt="Korean Meal Example">
  </div>
</div>

  <div class="row mt-2">
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">En route vers l'aventure ?</h5>
          <p class="card-text">Accédez facilement à votre compte personnel pour profiter de toutes les fonctionnalités de Foodalytics. Que vous soyez novice en matière de nutrition ou expert en recherche d'un outil puissant pour gérer votre alimentation, notre application conviviale est conçue pour répondre à tous vos besoins.</p>
          <p class="card-text">Prêt à nous rejoindre ? <a routerLink="/inscription">Inscrivez-vous</a></p>
        </div>
      </div>
    </div>
<div class="col-9 p-4">
  <p class="mt-5 py-5">
  L'une des principales fonctionnalités de Foodalytics est la possibilité d'ajouter facilement de nouveaux aliments à votre journal alimentaire. Il vous suffit de saisir le nom, les calories, les lipides, les glucides et les protéines pour chaque aliment que vous consommez. Grâce à notre vaste base de données alimentaire, vous disposerez d'une liste complète d'aliments pour faciliter l'ajout de vos repas.
</p>
</div>
</div>

<div class="row mt-3">
<p>
  Organisez vos repas de la journée en utilisant nos catégories pratiques : petit-déjeuner, déjeuner, dîner et encas. Vous pouvez ajouter un produit spécifique à chaque catégorie pour un suivi précis de votre consommation quotidienne. De plus, notre liste de produits est partagée entre tous les utilisateurs de l'application, ce qui facilite la recherche et l'ajout de vos aliments préférés.
</p>
<p>
  Foodalytics offre également une fonctionnalité d'administration pour les utilisateurs ayant des droits d'administrateur. Si vous êtes administrateur, vous avez le pouvoir de supprimer des produits de la liste commune, vous assurant ainsi que les informations sont toujours à jour et précises pour tous les utilisateurs.
</p>
<p>
  L'un des atouts majeurs de Foodalytics est sa capacité à vous aider à suivre votre consommation sur une période donnée. Que vous souhaitiez observer vos habitudes alimentaires sur une semaine, un mois ou une année, notre application fournit des représentations visuelles claires et détaillées. Vous pouvez choisir entre des graphiques, des tableaux ou des listes récapitulatives pour analyser vos apports nutritionnels et identifier les tendances et les domaines où vous pouvez apporter des améliorations.
</p>
<p>
  Foodalytics s'adapte à vos besoins individuels. Vous pouvez définir vos propres objectifs nutritionnels et notre application vous fournira des recommandations personnalisées pour vous aider à les atteindre. Que vous cherchiez à perdre du poids, à maintenir un régime équilibré ou à gagner en masse musculaire, notre application vous accompagnera tout au long de votre parcours.
</p>
<p>
  De plus, Foodalytics vous permet de suivre votre progression au fil du temps. Vous pourrez ainsi visualiser vos résultats et observer les changements positifs que vous apportez à votre alimentation. Cela vous donnera une motivation supplémentaire pour maintenir des choix alimentaires sains et atteindre vos objectifs de bien-être.
  </p>
  <p>
  Rejoignez dès maintenant la communauté Foodalytics et commencez à prendre le contrôle de votre alimentation. Quels que soient vos objectifs, notre application conviviale, avec ses fonctionnalités avancées, vous aidera à atteindre une alimentation plus saine et équilibrée. Découvrez comment Foodalytics peut transformer votre vie dès aujourd'hui !
</p>

<div class="row mt-4">
  <div class="col-12">
    <h3>Ils ont adopté <span class="brand">Foodalytics</span></h3>
  </div>
</div>

<div class="row mt-2">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center userReview">
          <img src="https://www.europeanceo.com/wp-content/uploads/2017/08/CEO-magic-touch.jpg" alt="User Image" class="rounded-circle mr-3 userImage">
          <p class="text-muted font-italic mb-0">
            "Depuis que j'utilise Foodalytics, je peux enfin tracker mes calories et mes apports nutritionnels de manière précise. C'est vraiment un outil puissant pour gérer mon alimentation et atteindre mes objectifs santé et bien-être. Je recommande vivement cette application !"
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
