<nav class="navbar navbar-expand-lg bg-light mb-5">
  <div class="container-fluid">
    <a class="navbar-brand me-5" routerLink="/accueil">
      <img src="assets/img/broccoli.png" alt="Brocolis" class="logo me-2">
      Foodalytics
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100">
        <li class="nav-item">
          <a class="nav-link" routerLink="/accueil" routerLinkActive="active">
            Accueil
          </a>
        </li>
        <li class="nav-item align-self-center ms-auto">
          <mat-icon
            *ngIf="jwt == null; else logoutLink"
            aria-hidden="false"
            aria-label="Connexion"
            fontIcon="login"
            routerLink="/connexion"
            style="cursor: pointer"
          ></mat-icon>
        </li>

        <ng-template #logoutLink>
          <mat-icon
            aria-hidden="false"
            aria-label="Déconnexion"
            fontIcon="logout"
            style="cursor: pointer"
            (click)="onLogout()"
          ></mat-icon>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
