mat-card {
  border: 1px solid #0d7d0560;
  mat-card-actions {
    a, button {
      font-size: 12px;
      height: 32px;
    }
  }
}

a.green-button {
  background-color: #2979299d;
  color: white;
}

